.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* background-color: #00000090; */
    display: grid;
}
.login-form{
    place-self: center;
    width: max(23vw,330px);
    /* color: #808080; */
    background-color: rgb(248, 246, 242);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    /* animation: fadeIn 0.5s; */
    /* box-shadow:black; */
}
.login-form-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-form-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-form-title input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
    width: 250px;
}
.login-form button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #007bff;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    
}
.login-form button:hover{
    background-color: #076dda;
}
.login-form button:active{
    background-color: #007bff;
}
.login p span{
    color: blue;
    font-weight: 500;
    cursor: pointer;
}